@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Raleway';
		src: url('../../public/fonts/Raleway-VariableFont_wght.ttf') format('TrueType');
		font-display: swap;
	}

	html {
		@apply antialiased;
		font-family: 'Raleway', system-ui, sans-serif;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.active-image {
		visibility: visible !important;
		opacity: 1 !important;
		transition: opacity 3000ms ease;
	}
}